.r{
	text-align:right!important;
}
.c{
	text-align:center!important;
}
.l{
	text-align:left!important;
}
.j{
	text-align:justify!important;
}
.pull-left{
	float: left!important;
}
.pull-right{
	float: right!important;
}
.clear{
	clear:both;
}
.cleaner{
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	float:none;
}
.hide{
	display:none;
}
.block{
	display:block;
}
.img-circle {
	.border-radius(50%);
}
// xart
nav.more{
	margin:0 0 20px;
	text-align: right;
	a{
		.btn;
		&:hover{
			.btn-hover;
		}
		&:after{
			position: relative;
			margin: 0 0 0 10px;
			content: '>';
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	background: lighten(@color-link,40%);
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@color-link,30%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@color-link,45%);
	}
	th,thead td{
		font-weight: bold;
		background: lighten(@color-link,20%)!important;
	}
	tfoot td{
		background: lighten(@color-link,20%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input[type=text],input[type=email],input[type=password],textarea,select{
		position: relative;
		border: 1px solid lighten(@color-primary,30%);
		font-size: 16px;
		line-height: 17px;
		margin: 0 3px 5px 0;
		width: 198px;
		height: 16px;
		padding: 6px 10px;
		color: @color-primary;
		background: #f4f2e9;
		outline: 0;
	}
	input.input-mini{
		width:25px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	textarea{
		padding:10px;
		width:auto;
		height:auto;
	}
	select{
		width:auto;
		height:auto;
		padding: 2px 6px;
	}
	input[type=text]:hover,input[type=email]:hover,input[type=password]:hover,textarea:hover,select:hover,
	input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,textarea:focus,select:focus{
		.box-shadow(0 0 10px rgba(0,0,0,0.3));
	}
	.fileinputs{
		.clearfix;
		position:relative;
		overflow:hidden;
		display:inline-block;
		cursor:default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.input-file-text{
			.border-radius(3px 0 0 3px);
			border-right: 0;
			float: left;
			margin-right: 0;
			padding-right: 0;
		}
		.normal-button{
			float: left;
			height: 30px;
			line-height: 30px;
		}
	}
	.normal-button{
		.btn;
		padding: 0 20px;
	}
	a.normal-button{
		display:inline-block;
		text-decoration:none;
		line-height:28px;
	}
	.fileinputs:hover .normal-button,.normal-button:hover{
		.btn-hover;
	}
}
.search-results .highlight,.results .highlight{
	background: @color-link;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0;
	a,span{
		.btn;
		padding: 0;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	a:hover{
		.btn-hover;
	}
	span.pagenav{
		color: #fff;
		background: @color-primary;
	}
	.pagenav-ico{
		opacity: 0.5;
		-moz-opacity: 0.5;
		filter: alpha(opacity=50);
		cursor: default;
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 0;
	overflow: hidden;
	border-top: 1px dashed @color-link;
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 15px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
}
a.xeditorpopup img{
	.transition(0.2s);
	padding: 1px;
	border: 2px solid @color-link;
}
a.xeditorpopup:hover img{
	border-color: @color-link;
}
.mod_breadcrumbs{
	position: relative;
	z-index: 1;
	padding: 20px 0;
	ul{
		.reset-ul;
		position: relative;
		&:before{
			position: absolute;
			content: '';
			top: 0;
			right: 0;
			width: 167px;
			height: 90px;
			background: url(../images/bg/11.png) no-repeat;
		}
		li{
			position: relative;
			margin: 0 5px 0 0;
			display: inline;
			font-size: 13px;
			&:before{
				display: none;
			}
			a{
				display: inline-block;
				position: relative;
				color: #595959;
				padding: 0 30px 0 0;
				&:before{
					position: absolute;
					content: '';
					width: 16px;
					height: 15px;
					top: 3px;
					right: 0;
					background: url(../images/icon/04.png) no-repeat;
				}
			}
			&.home{
				a{
					position: relative;
					top: -4px;
					width: 26px;
					height: 26px;
					text-indent: -9999px;
					padding-right: 0;
					background: url(../images/icon/08.png) no-repeat;
					&:hover{
						background-position: 0 -26px;
					}
					&:before{
						display: none;
					}
				}
			}
		}
	}
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		color: #fff;
		background: lighten(@color-link,20%);
		ul{
			.reset-ul;
			li{
				.reset-li;
			}
		}
	}
	.notice{
		background: @color-link;
	}
	.warning,.error{
		background-color: red;
	}
}
