@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Kalam:600,400,300&subset=latin,latin-ext);
.font-primary{
	font-family: 'Open Sans',sans-serif;
}
.font-header{
	font-family: 'Kalam', sans-serif;
}