.container{
	.clearfix;
	position: relative;
	width: 960px;
	padding: 0 10px;
	margin: auto;
	text-align: left;
}
#page-header{
	min-width: 980px;
	padding: 120px 0 32px;
	border-bottom: 4px solid #f78120;
	background: #ffa02e url(../images/bg/01.png) repeat-x top;
	.logo{
		position: relative;
		float: left;
		width: 220px;
		padding: 10px 0 0 400px;
		font-size: 14px;
		line-height: 1.49;
		a{
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 370px;
			height: 94px;
			text-indent: -9999px;
			background: url(../images/logo/01.png) no-repeat;
		}
	}
}
#wrapper{
	position: relative;
	padding: 90px 0 24px;
	background: rgba(255, 160, 46, 0.1);
	&:before{
		position: absolute;
		content: '';
		left: 0;
		top: -2px;
		height: 5px;
		width: 100%;
		background: url(../images/bg/04.png);
	}
}
#col-main{
	width: 700px;
	float: right;
}
#col-center{
	width: 460px;
	float: left;
}
#col-right{
	width: 200px;
	margin: 0 20px 0 0;
	float: right;
}
#col-left{
	width: 200px;
	margin: 0 0 0 20px;
	float: left;
}
#page-footer{
	position: relative;
	padding: 35px 0;
	background: rgba(255, 160, 46, 0.9);
	&:before{
		position: absolute;
		content: '';
		left: 0;
		top: -3px;
		height: 5px;
		width: 100%;
		background: url(../images/bg/04.png);
	}
	.xart{
		float: right;
		font-size: 10px;
		line-height: 1;
		padding: 6px 20px 0 0;
		text-transform: uppercase;
		img{
			float: right;
			margin: -5px -5px 0 8px;
		}
		a{
			text-decoration: none;
			color: @color-primary;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.copy{
		padding: 0 0 0 20px;
		font-size: 11px;
		text-transform: uppercase;
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(35px);
		position: fixed;
		z-index: 99999;
		bottom: -70px;
		right: 20px;
		height: 68px;
		width: 68px;
		text-indent: -9999px;
		border: 1px solid #fff;
		background: @color-link url(../images/icon/07.png) no-repeat center;
		&:hover{
			background-color: @color-orange;
		}
	}
	&.on{
		a{
			bottom: 22px;
		}
	}
}