.mod_custom-kontakt{
	.clearfix;
	float: right;
	width: 270px;
	padding: 10px 0 8px 50px;
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
	background: url(../images/icon/01.png) no-repeat 5px 15px;
	.mod-left{
		width: 100px;
		float: left;
	}
	.mod-right{
		width: 170px;
		float: right;
	}
}
.mod_search{
	.clearfix;
	position: relative;
	float: right;
	width: 270px;
	padding: 0 0 0 50px;
	input[type=text]{
		.reset-input;
		.border-radius(17px);
		width: 230px;
		height: 16px;
		padding: 9px 20px;
		background: #ffd097;
		&:focus{
			background: #fff;
		}
	}
	input[type=submit]{
		.reset-input;
		position: absolute;
		left: 5px;
		top: 0;
		width: 32px;
		height: 32px;
		text-indent: -9999px;
		background: url(../images/icon/02.png) no-repeat;
		&:hover{
			background-position: 0 -32px;
		}
	}
}
.mod_custom-slideshow{
	position: relative;
	z-index: 1;
	min-width: 980px;
	height: 650px;
	margin: 0 0 -76px;
	background: url(../images/bg/03.png) no-repeat center 43px;
	overflow: hidden;
	.item{
		width: 100%;
		.inner{
			.reset-li;
			padding: 58px 38px;
			&:before,&:after{
				position: absolute;
				content: '';
				top: 28px;
				left: 19px;
				width: 100px;
				height: 100px;
				background: url(../images/bg/05.png) no-repeat;
			}
			&:after{
				top: 26px;
				right: 15px;
				left: auto;
				background-position: -100px 0;
			}
			.bg{
				&:before,&:after{
					position: absolute;
					content: '';
					bottom: 24px;
					left: 12px;
					width: 100px;
					height: 100px;
					background: url(../images/bg/05.png) no-repeat 0 -100px;
				}
				&:after{
					bottom: 21px;
					right: 13px;
					left: auto;
					background-position: -100px -100px;
				}
			}
			img{
				.box-shadow(0 0 20px rgba(0,0,0,0.3));
			}
		}
	}
	.arr{
		.container;
		z-index: 999;
		.prev,.next{
			position: absolute;
			top: 285px;
			left: -11px;
			width: 38px;
			height: 38px;
			cursor: pointer;
			background: url(../images/bg/06.png) no-repeat;
			&:hover{
				background-position: 0 -132px;
			}
		}
		.next{
			position: absolute;
			top: 276px;
			left: auto;
			right: -12px;
			width: 38px;
			height: 40px;
			background-position: -91px 0;
			&:hover{
				background-position: -91px -132px;
			}
		}
	}
	nav{
		.container;
		position: relative;
		z-index: 999;
		a{
			position: absolute;
			bottom: 69px;
			right: -118px;
			display: block;
			width: 129px;
			height: 80px;
			text-indent: -9999px;
			background: url(../images/bg/06.png) no-repeat 0 -52px;
			&:hover{
				background-position: 0 -184px;
			}
		}
	}
}
.mod_newsflash_xart{
	.mod-title{
		.font-header;
		font-weight: 200;
		font-size: 21px;
		line-height: 1.2;
		color: #595959;
		margin: 0 0 20px;
		mark{
			display: block;
			color: @color-link;
			font-size: 28px;
			line-height: 1;
			text-transform: uppercase;
		}
	}
	article{
		.clearfix;
		margin: 0 0 40px;
		figure{
			width: 92px;
			float: left;
			padding: 3px 0;
			img{
				.border-radius(45px);
				border: 1px solid #bbb;
			}
		}
		.content{
			padding: 0 0 0 40px;
			font-size: 13px;
			line-height: 1.4;
			background: url(../images/icon/03.png) no-repeat 1px 6px;
			.header{
				line-height: 1.3;
			}
			time{
				.font-header;
				display: inline;
				font-size: 18px;
				margin: 0 8px 0 0;
				color: @color-orange;
			}
			h2{
				.font-primary;
				display: inline;
				margin: 0;
				font-size: 14px;
				font-weight: normal;
			}
			p{
				margin: 8px 0 10px;
			}
		}
		&.has-thumbnail{
			.content{
				float: right;
				width: 317px;
			}
		}
	}
	nav{
		text-align: right;
		margin: -15px 20px 0 0;
		a{
			.font-header;
			position: relative;
			display: inline-block;
			font-size: 18px;
			line-height: 1;
			padding: 0 0 0 26px;
			&:before{
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 16px;
				height: 15px;
				background: url(../images/icon/04.png) no-repeat 0 -15px;
			}
		}
	}
}
.mod_jcalpro_minical_J15{
	margin: 0 0 38px;
	.mod-title{
		.font-header;
		font-weight: 200;
		font-size: 21px;
		line-height: 1.2;
		color: #595959;
		margin: 0 0 13px;
		mark{
			display: block;
			color: @color-link;
			font-size: 28px;
			line-height: 1;
			text-transform: uppercase;
		}
	}
	.mod-inner{
		.clearfix;
		position: relative;
		background: url(../images/bg/07.png) no-repeat;
		&:before{
			position: absolute;
			content: '';
			top: 100%;
			left: 0;
			width: 100%;
			height: 2px;
			background: url(../images/bg/07.png) no-repeat bottom;
		}
	}
	.extcal_navbar{
		width: 100%;
		text-align: center;
		margin: 0 0 15px;
		background: url(../images/bg/08.png) no-repeat bottom;
	}
	.extcal_month_label{
		.font-header;
		font-weight: bold;
		padding: 23px 0 10px;
		font-size: 18px;
		line-height: 1;
		a{
			text-decoration: none;
		}
	}
	.month_change{
		padding: 17px 0 6px 12px;
		a{
			display: block;
			float: left;
			width: 16px;
			height: 15px;
			text-indent: -9999px;
			background: url(../images/icon/05.png) no-repeat;
		}
		&.next{
			padding: 17px 12px 6px 0;
			a{
				float: right;
				background-position: -16px 0;
			}
		}
	}
	.extcal_table{
		margin: 0 23px 10px;
		.extcal_weekdays{
			font-weight: bold;
			font-size: 11px;
			text-align: center;
			text-transform: capitalize;
		}
		.day_cell,.extcal_othermonth{
			padding: 0;
			span,a{
				.border-radius(4px);
				display: block;
				width: 21px;
				height: 20px;
				line-height: 21px;
				margin: 0 -1px -1px 0;
				text-align: center;
				border: 1px solid #ababab;
				font-size: 12px;
			}
			a{
				color: #000;
				background: #ffa02e;
				text-decoration: none;
			}
		}
		.extcal_othermonth{
			span,a{
				text-indent: -9999px;
			}
		}
	}
	.more{
		margin: 0 23px 18px;
		font-size: 13px;
		line-height: 1;
		a{
			display: inline-block;
			padding: 5px 0 0 30px;
			color: @color-primary;
			background: url(../images/icon/06.png) no-repeat;
		}
	}
}
.mod_custom-gallery{
	.mod-title{
		.font-header;
		font-weight: 200;
		font-size: 21px;
		line-height: 1.2;
		color: #595959;
		margin: 0 0 10px;
		mark{
			display: block;
			color: @color-orange;
			font-size: 28px;
			line-height: 1;
			text-transform: uppercase;
		}
	}
	figure{
		margin: 0 -23px 0 -11px;
		width: 208px;
		height: 248px;
		padding: 25px 0 0 24px;
		background: url(../images/bg/09.png) no-repeat;
	}
	nav{
		padding: 9px 0 0;
		margin: 0 0 38px;
		a{
			.font-header;
			display: inline-block;
			position: relative;
			padding: 0 0 0 30px;
			font-size: 18px;
			line-height: 1;
			&:before{
				position: absolute;
				content: '';
				left: 3px;
				top: 0;
				width: 16px;
				height: 15px;
				background: url(../images/icon/04.png) no-repeat 0 -15px;
			}
		}
	}
}
.mod_menu-main{
	margin: 0 0 48px;
	&>ul{
		.reset-ul;
		&>li{
			.reset-li;
			margin: 0 0 15px;
			&>a{
				.font-header;
				position: relative;
				display: inline-block;
				text-transform: uppercase;
				text-decoration: none;
				padding: 0 0 0 27px;
				font-size: 20px;
				line-height: 1;
				color: #595959;
				&:before{
					position: absolute;
					content: '';
					width: 16px;
					height: 15px;
					top: 1px;
					left: 0;
					background: url(../images/icon/04.png) no-repeat;
				}
				&:hover{
					color: @color-link;
					&:before{
						background-position: 0 -15px;
					}
				}
			}
			&.act{
				a{
					color: @color-link;
					&:before{
						background-position: 0 -15px;
					}
				}
			}
		}
		ul{
			.reset-ul;
			padding: 5px 0 5px 30px;
			li{
				font-size: 13px;
				padding: 0 0 0 20px;
				&:before{
					.font-header;
					content: '>';
					color: @color-primary;
					background: none;
					font-weight: normal;
				}
				ul{
					padding: 5px 0;
				}
				&.act{
					font-weight: bold;
				}
			}
		}
	}
}
.mod_banners{
	margin: 0 0 30px;
	ul{
		.reset-ul;
		background: url(../images/bg/10.png) no-repeat bottom;
		li{
			.reset-li;
			padding: 36px 0;
			background: url(../images/bg/10.png) no-repeat top;
		}
	}
}
.mod_menu-footer{
	padding: 0 0 0 20px;
	ul{
		.reset-ul;
		li{
			.reset-li;
			.font-header;
			display: inline;
			color: #fff;
			font-weight: 200;
			font-size: 18px;
			line-height: 1;
			&:before{
				position: static;
				content: '/';
				margin: 0 16px 0 13px;
				color: #fff;
			}
			a{
				color: #fff;
			}
			&:first-child{
				&:before{
					display: none;
				}
			}
		}
	}
}